@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700;800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Mukta', sans-serif;

  /* Pantone 3025C - dark slate/blue */
  --color-primary-color: #21576a;
  /* Pantone 3275C - bright teal */
  --color-secondary-color: #00a98f;
}
